<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-product-heading" data-cy="ProductCreateUpdateHeading" jhiTranslate="restaurantappApp.product.home.createOrEditLabel">
        Créer ou éditer un Product
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="restaurantappApp.product.price" for="field_price">Price</label>
          <input type="number" class="form-control" name="price" id="field_price" data-cy="price" formControlName="price" />
          @if (editForm.get('price')!.invalid && (editForm.get('price')!.dirty || editForm.get('price')!.touched)) {
            <div>
              @if (editForm.get('price')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('price')?.errors?.number" jhiTranslate="entity.validation.number"
                >Ce champ doit être un nombre.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="restaurantappApp.product.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          @if (editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)) {
            <div>
              @if (editForm.get('name')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="restaurantappApp.product.photo" for="field_photo">Photo</label>
          <div>
            @if (editForm.get('photo')!.value) {
              <div class="form-text text-danger clearfix">
                <a
                  class="pull-start"
                  (click)="openFile(editForm.get('photo')!.value!, editForm.get('photoContentType')!.value!)"
                  jhiTranslate="entity.action.open"
                  >Ouvrir</a
                ><br />
                <span class="pull-start">{{ editForm.get('photoContentType')!.value }}, {{ byteSize(editForm.get('photo')!.value!) }}</span>
                <button
                  type="button"
                  (click)="editForm.patchValue({ photo: undefined, photoContentType: undefined })"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
            }
            <input
              type="file"
              id="file_photo"
              data-cy="photo"
              (change)="setFileData($event, 'photo', false)"
              jhiTranslate="entity.action.addblob"
            />
          </div>
          <input type="hidden" class="form-control" name="photo" id="field_photo" data-cy="photo" formControlName="photo" />
          <input
            type="hidden"
            class="form-control"
            name="photoContentType"
            id="field_photoContentType"
            formControlName="photoContentType"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="restaurantappApp.product.imageType" for="field_imageType">Image Type</label>
          <input type="text" class="form-control" name="imageType" id="field_imageType" data-cy="imageType" formControlName="imageType" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="restaurantappApp.product.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="restaurantappApp.product.isSupplement" for="field_isSupplement">Is Supplement</label>
          <input
            type="checkbox"
            class="form-check"
            name="isSupplement"
            id="field_isSupplement"
            data-cy="isSupplement"
            formControlName="isSupplement"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="restaurantappApp.product.createdDate" for="field_createdDate">Created Date</label>
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="restaurantappApp.product.updatedDate" for="field_updatedDate">Updated Date</label>
          <div class="d-flex">
            <input
              id="field_updatedDate"
              data-cy="updatedDate"
              type="datetime-local"
              class="form-control"
              name="updatedDate"
              formControlName="updatedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="restaurantappApp.product.category" for="field_category">Category</label>
          <select
            class="form-control"
            id="field_category"
            data-cy="category"
            name="category"
            formControlName="category"
            [compareWith]="compareProductCategory"
          >
            <option [ngValue]="null"></option>
            @for (productCategoryOption of productCategoriesSharedCollection; track $index) {
              <option [ngValue]="productCategoryOption">{{ productCategoryOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="restaurantappApp.product.formula" for="field_formula">Formula</label>
          <select
            class="form-control"
            id="field_formula"
            data-cy="formula"
            name="formula"
            formControlName="formula"
            [compareWith]="compareFormula"
          >
            <option [ngValue]="null"></option>
            @for (formulaOption of formulasSharedCollection; track $index) {
              <option [ngValue]="formulaOption">{{ formulaOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
