<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-commandes-heading"
        data-cy="CommandesCreateUpdateHeading"
        jhiTranslate="restaurantappApp.commandes.home.createOrEditLabel"
      >
        Créer ou éditer un Commandes
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="restaurantappApp.commandes.amount" for="field_amount">Amount</label>
          <input type="number" class="form-control" name="amount" id="field_amount" data-cy="amount" formControlName="amount" />
          @if (editForm.get('amount')!.invalid && (editForm.get('amount')!.dirty || editForm.get('amount')!.touched)) {
            <div>
              @if (editForm.get('amount')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('amount')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Ce champ doit être un nombre.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="restaurantappApp.commandes.createdDate" for="field_createdDate">Created Date</label>
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="restaurantappApp.commandes.recoveryDate" for="field_recoveryDate">Recovery Date</label>
          <div class="d-flex">
            <input
              id="field_recoveryDate"
              data-cy="recoveryDate"
              type="datetime-local"
              class="form-control"
              name="recoveryDate"
              formControlName="recoveryDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="restaurantappApp.commandes.updatedDate" for="field_updatedDate">Updated Date</label>
          <div class="d-flex">
            <input
              id="field_updatedDate"
              data-cy="updatedDate"
              type="datetime-local"
              class="form-control"
              name="updatedDate"
              formControlName="updatedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="restaurantappApp.commandes.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareClient">
            <option [ngValue]="null"></option>
            @for (clientOption of clientsSharedCollection; track $index) {
              <option [ngValue]="clientOption">{{ clientOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label jhiTranslate="restaurantappApp.commandes.products" for="field_products">Products</label>
          <select
            class="form-control"
            id="field_products"
            data-cy="products"
            multiple
            name="products"
            formControlName="products"
            [compareWith]="compareProduct"
          >
            @for (productOption of productsSharedCollection; track $index) {
              <option [ngValue]="productOption">{{ productOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label jhiTranslate="restaurantappApp.commandes.formulas" for="field_formulas">Formulas</label>
          <select
            class="form-control"
            id="field_formulas"
            data-cy="formulas"
            multiple
            name="formulas"
            formControlName="formulas"
            [compareWith]="compareFormula"
          >
            @for (formulaOption of formulasSharedCollection; track $index) {
              <option [ngValue]="formulaOption">{{ formulaOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
