<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (formula) {
      <div>
        <h2 data-cy="formulaDetailsHeading"><span jhiTranslate="restaurantappApp.formula.detail.title">Formula</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ formula.id }}</span>
          </dd>
          <dt><span jhiTranslate="restaurantappApp.formula.price">Price</span></dt>
          <dd>
            <span>{{ formula.price }}</span>
          </dd>
          <dt><span jhiTranslate="restaurantappApp.formula.name">Name</span></dt>
          <dd>
            <span>{{ formula.name }}</span>
          </dd>
          <dt><span jhiTranslate="restaurantappApp.formula.photo">Photo</span></dt>
          <dd>
            @if (formula.photo) {
              <div>
                <a (click)="openFile(formula.photo, formula.photoContentType)" jhiTranslate="entity.action.open">Ouvrir</a>
                {{ formula.photoContentType }}, {{ byteSize(formula.photo) }}
              </div>
            }
          </dd>
          <dt><span jhiTranslate="restaurantappApp.formula.imageType">Image Type</span></dt>
          <dd>
            <span>{{ formula.imageType }}</span>
          </dd>
          <dt><span jhiTranslate="restaurantappApp.formula.description">Description</span></dt>
          <dd>
            <span>{{ formula.description }}</span>
          </dd>
          <dt><span jhiTranslate="restaurantappApp.formula.createdDate">Created Date</span></dt>
          <dd>
            <span>{{ formula.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="restaurantappApp.formula.updatedDate">Updated Date</span></dt>
          <dd>
            <span>{{ formula.updatedDate | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/formula', formula.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
